body {
    background-color : #fef9f8;
    font-family: 'Merriweather', serif;
}

h1, h2, h4 {
    margin: .5rem 0;
}
/* rem is responsive */ 

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.3rem;
}

h4 {
    font-size: 1rem;
}

/*
.row {
    display: flex;
    justify-content: space-between;
}
*/

.col1 {
    display: flex;
}

.col2 {
    display: flex;
}

.col3 {
    display: flex;
}

.col4 {
    display: flex;
}

.cart {
    display: flex;
}